@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}


.header-site{
    background-image: url(imagens/pexels-roberto-nickson-2559941.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 200px;
    background-attachment: fixed;
    color: #fff;
    width: 100%;
    font-family: 'Cardo', serif;
}


.coluna > h1 {
    font-size: max(50px, 10vw);
    margin-bottom: 20px;
    padding-top: 60px;
}


.coluna1,
.coluna2,
.coluna3,
.coluna4{
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    padding: 40px 0%;
}

h2,
h3{
    font-family: 'Cardo', serif;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
}